/* CSS style sheet for index.html*/

h1 {
    text-align: center;
    color: turquoise;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: Bold; 
    font-size: 30pt;
}

h2 {
    text-align: center;
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20pt;
}

h3 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16pt;
}

h4 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14pt;
}   

p {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14pt;
}

img {
    padding:1px;
    border:1px solid black;
    background-color: blue;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.link {
    display:block;
    text-align:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.resume{
    text-align: left;
}

h3.resume{
    text-indent: 25px;
}

h4.resume{
    text-indent: 50px;
}

p.resume{
    margin-left: 75px;

}