/* CSS style sheet for index.html*/

body, html {
    background-color: white;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 3px;
    border-color: salmon;
  }

h1 {
    text-align: center;
    color: lightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: Bold; 
    font-size: 30pt;
}

h2 {
    text-align: left;
    color: turquoise;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20pt;
}

h3 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20pt;
    text-indent: 25px;
    color: salmon;
}

h4 {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif, 'Times New Roman', serif;
    font-size: 18pt;
    text-indent: 50px;
    color: red;
    font-style: bold;
}   

h5 {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif, 'Times New Roman', serif;
    font-size: 14pt;
    text-indent: 50px;
    color: lightcoral;
}   


p {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
    text-indent: 75px;

}
